[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BFF"]
	path = BFF
	url = https://github.com/rshudde/bff
[submodule "RJcluster"]
	path = RJcluster
	url = https://github.com/cran/RJcluster
